<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-1" style="background-color:#1b3b48;">
    <p>
      <a href="mailto:arthurbarbosa93@gmail.com" target="_blank">
        <img            c
            alt="Gmail"
            src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white"/>
      </a>
      <a  href="https://www.linkedin.com/in/arthurbarbosaoliveira/" target="_blank">
        <img
            class="linkedin-logo"
            alt="LinkedIn"
            src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"/>
      </a>
      <a href="https://github.com/ArthurBarbosaOliveira" target="_blank">
        <img
            class="github"
            alt="Github"
            src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"/>
      </a>
    </p>
  </div>
</footer>
