<div class="bg-dark-static-top" style="background-color: #7874B4;">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">
        <img alt="minsait"
         src="https://yt3.googleusercontent.com/4OZPAnuh_ZYV9EGuClrMgEfDCSNfaO22nDFh6hZaSR_Oh5Qp6F7iZOhxIrSkO2Gmy3-U8Sr9LA=s176-c-k-c0x00ffffff-no-rj"
         style="height: 108px; width: 108px; border-radius: 50%;"
         >
      </a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-li">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
              Home
            </a>
          </li>
          <li class="nav-li">
            <a class="nav-link" routerLink="/clientes/lista" routerLinkActive="active">
              Clientes
            </a>
          </li>
          <li class="nav-li">
            <a class="nav-link" routerLink="/clientes/cadastro" routerLinkActive="active">
              Cadastre-se
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
