.home-container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-container img {
  margin-bottom: 1rem;
  max-width: 100%;
}
